.logo {
  height: 100px;
}
.about {
  text-align: left;
  font-family: "Noto Sans Devanagari";
}

.about-head {
  text-align: left;
  font-family: "Mitr", sans-serif;
  font-size: 40px;
}
ul {
  text-align: left;
  padding: 20px;
}
