@import '../../../styles/_colors.scss';
body
{
    background:$background ;
}
.my-3 h1{
    padding: 20px;
}

.row-team
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: auto;
    gap: 20px 0;
}
.ech-person
{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}