@import '../../../styles/_colors.scss';
.my-team
{
   background:$background ;
   margin-bottom: 0;
   min-height: 100vh;
}
.my-team h1{
    padding: 20px;
}

.row-team
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: auto;
    gap: 20px 0;
}
.ech-person
{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}