@import "../../../styles/colors";
@import "../../../styles/box-shadow";
.register-head {
  font-size: 60px;
  font-weight: 600;
  font-family: freestyle;
}
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(255, 119, 204, 1) 0%,
    rgba(255, 255, 255, 1) 65%
  );

  align-self: center;
  height: 90vh;
}

.register-input {
  border: none;
  outline: none;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid pink;
}
.register-button {
  width: 70%;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-self: center;
}

.register-main1 {
  background: rgba(255, 255, 255, 0.096);
  box-shadow: $BoxShadow;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  form {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // margin-top: 20px;
    // padding: 5px;
    // min-width: 600px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 800px) {
  .register {
    height: fit-content;
    width: fit-content;
  }
  .register-main1 {
    width: fit-content;
  }
}
