@import "../../../styles/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Roboto+Slab&display=swap");
@import "../../../styles/font_family";
@import "../../../styles/fonts";

.home {
  justify-content: center;
}

.home-head {
  color: $footer;
  //font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 450;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: center;
  font-family: $fontHead;
  padding-top: 30px;
  padding-bottom: 30px;
}
hr {
  margin: 0;
}
.home-v {
  display: grid;
  grid-template-columns: 40% 60%;
  background: url("../../Images/vector2.svg");
  background-position: left;
  background-repeat: no-repeat;
  align-self: center;
  font-family: $fontHead;
  img {
    height: 100%;
    width: 100%;
  }
  .out-home {
    height: 100%;
    justify-content: center;
    margin-top: 40%;
    margin-left: 35%;
    transform: translate(-20%, -30%);
    div {
      font-size: 55px;
      font-weight: 700;
      font-family: $fontText;
    }
    p {
      margin-top: 5%;
      margin-bottom: 5%;
      font-family: $fontText;
      font-size: $para;
    }
  }
}
.about {
  width: 100%;
  font-family: $fontText;
  font-size: $para;
  .about-main {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 30px;
    .about-main-1 {
      height: 100%;
      justify-content: center;
      margin-top: 30%;
      margin-left: 30%;
      transform: translate(-20%, -30%);
    }
    div {
      img {
        width: 90%;
        //z-index: -1;
      }
    }
  }
}
.but-join {
  font-size: 20px;
  min-width: 100px;
}

.stats {
  background: linear-gradient(
    267.15deg,
    rgba(254, 53, 186, 0.13) 0.8%,
    rgba(253, 83, 198, 0.286781) 100%
  );
  background: $background;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: $fontText;
  font-size: $para;
  span {
    display: grid;
    grid-template-columns: 30% 20% 30% 20%;
    color: black;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
    .stat {
      div {
        font-size: 30px;
      }
      .stat-about {
        font-size: 20px;
      }
    }
  }
}

.team {
  .members {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    width: 100%;
    margin: auto;
    font-family: $fontText;
    font-size: $para;
    .member {
      width: 400px;
      height: 180px;
      display: grid;
      margin: auto;
      grid-template-columns: 40% 60%;
      padding: 15px;
      background: linear-gradient(
        267.15deg,
        rgba(254, 53, 186, 0.13) 0.8%,
        rgba(253, 83, 198, 0.286781) 100%
      );
      background: rgb(243, 243, 243);
      border-radius: 20px;
      .member-img {
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }
      .member-detail {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-top: 65px;
        margin-left: 10px;
        .member-name {
          font-weight: 700;
          font-size: 20px;
        }
        .member-pos {
          font-size: 15px;
        }
      }
    }
  }
}

.faq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  width: 100%;
  height: 100%;
  font-family: $fontText;
  font-size: $para;
  .faq-main {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: $fontText;
    font-size: $para;
  }
}

@media screen and (max-width: 500px) {
  .home-v {
    display: grid;
    grid-template-columns: auto;
  }
  .stats span {
    grid-template-columns: 1fr 1fr;
  }
  .faq img {
    display: none;
  }
  .faq {
    display: flex;
  }
  .about .about-main {
    display: flex;
    flex-direction: column;
  }
  hr {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .footer-div {
    display: flex;
    flex-direction: column;
  }
}

.company-images {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
  img {
    height: 45px;
    margin: 15px;
    width: auto;
  }
}
