@import "../../../styles/_box-shadow.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/font_family";
@import "../../../styles/fonts";
.events-head {
  font-size: 60px;
  font-weight: 600;
  font-family: freestyle;
}
.events {
  padding: 30px;
  background-color: $background;
  min-height: 100vh;
  //justify-content: left;
}
#navbar-example2 {
  border-bottom: 1px solid $footer;
  .nav-pills {
    //background: $footer;
    // margin: 10px;
    color: white;
    .nav-item {
      color: #fff;

      .nav-link {
        color: $footer;
        font-weight: 600;
      }
    }
  }
  color: #fff;
}
.loader {
  width: 100%;
  display: flex;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.events-head {
  color: $footer;
  font-family: $fontHead;
  font-weight: 450;
}
.events-main {
  margin: 10px;
  div {
    .active {
      color: $footer;
      font-size: 30px;
      padding: 20px;

      font-family: $fontText;
    }
    .type {
      display: flex;
      flex-wrap: wrap;
      //position: relative;
      justify-content: space-around;
    }
  }

  .event-card {
    text-align: left;
    display: flex;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background: $background;
    border-radius: 15px;
    font-family: "Roboto Slab", serif;
    box-shadow: $BoxShadow;
    background: white;
    .event-img {
      img {
        width: 250px;
        border-radius: 15px;
      }
    }
    .event-content {
      padding: 10px 25px;
      .event-details {
        padding-top: 10px;
        .event-time {
          color: $footer;
          span {
            font-weight: 700;
          }
        }
      }
      h2 {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }
  .days-left {
    margin-top: 30px;
    margin-bottom: 20px;
    img {
      height: 20px;
      margin-right: 15px;
    }
    Button {
      margin: 4px;
    }
  }
  @media only screen and (max-width: 600px) {
    .event-card {
      display: grid;
      grid-template-columns: auto;
      width: 450px;
    }
    .events-head {
      padding-top: 50px;
      font-size: 30px;
    }
  }
}

.btn {
  background: $footer;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .events-main {
    margin: 0;
    .event-card {
      margin: 10px;
      width: 100vw;
      .event-img {
        img {
          width: 100%;
        }
      }
    }
  }
}
