$xLargeHeading: 40px;
$largeHeading: 30px;
$heading: 26px;
$smallHeading: 24px;
$xSmallHeading: 22px;
$xxSmallHeading: 20px;
$xLargePara: 18px;
$largePara: 18px;
$para: 15px;
$smallPara: 14px;
$xSmallPara: 12px;
$xxSmallPara: 10px;

// font weights
$boldest: 900;
$bolder: 700;
$bold: 500;
$normal: 400;

//font family
$interFontFamily: 'Inter';